@page
@model Admin.Orders.OrderDetailModel
@{
    ViewData["Title"] = "Order Details";
}

<form method="post">
    <div class="border p-4 ml-1 backgroundWhite mt-4">
        <div class="row pb-1">
            <div class="col-12 col-md-6 ">
                <p class="h2  text-primary">Order Details</p>
            </div>
            <div class="col-12 col-md-4 offset-md-2">
                <a asp-page="/Admin/Orders/OrderList" class="btn btn-outline-primary form-control">Back to Orders </a>
            </div>
        </div>
        <hr />
        <div class="row pt-2">
            <div class="col-lg-8 col-12" style="border-right:1px solid #bbb9b9">
                <div class="form-group row py-1">
                    <div class="col-md-3 col-12 text-primary">
                        Name
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderHeaderViewModel.OrderHeader.PickUpName" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row py-1">
                    <div class="col-md-3 col-12 text-primary">
                        Email
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderHeaderViewModel.OrderHeader.AppUser.Email" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row py-1">
                    <div class="col-md-3 col-12 text-primary">
                        Phone Number
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderHeaderViewModel.OrderHeader.AppUser.PhoneNumber" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row py-1">
                    <div class="col-md-3 col-12 text-primary">
                        Order Total
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderHeaderViewModel.OrderHeader.OrderTotal" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row py-1">
                    <div class="col-md-3 col-12 text-primary">
                        Order Date Time
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderHeaderViewModel.OrderHeader.OrderDate" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row py-1">
                    <div class="col-md-3 col-12 text-primary">
                        Comments
                    </div>
                    <div class="col-md-9 col-12">
                        <textarea asp-for="OrderHeaderViewModel.OrderHeader.Comments" disabled class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <button type="submit" disabled class="btn btn-outline-info form-control">@Model.OrderHeaderViewModel.OrderHeader.Status</button>
                <h4 class="d-flex justify-content-between align-content-center mb-3 pt-3">
                    <span class="text-muted">Order ID: #@Model.OrderHeaderViewModel.OrderHeader.Id</span>
                    <span class="badge badge-secondary badge-pill">@Model.OrderHeaderViewModel.OrderHeader.Id</span>
                </h4>
                <ul class="list-group mb-3">
                    @foreach (var orderDetail in Model.OrderHeaderViewModel.OrderDetails)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <h6 class="my-0">@orderDetail.Name</h6>
                                <small class="text-muted">Quantity : @orderDetail.Count</small>
                            </div>
                            <span class="text-muted">@((orderDetail.Count * orderDetail.Price).ToString("c"))</span>
                        </li>
                    }
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <span class="text-info"> Total (USD)</span>
                        <strong class="text-info">@Model.OrderHeaderViewModel.OrderHeader.OrderTotal.ToString("c")</strong>
                    </li>
                </ul>
                <div class="row pt-3">
                    @if (Model.OrderHeaderViewModel.OrderHeader.Status == Constants.StatusReady &&
                    (User.IsInRole(Constants.ManagerRole) || User.IsInRole(Constants.FrontDeskRole)))
                    {
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary form-control"
                                asp-page-handler="OrderCompleted" asp-route-orderId="@Model.OrderHeaderViewModel.OrderHeader.Id">
                                Complete Order
                            </button>
                        </div>
                    }
                    @if ((User.IsInRole(Constants.ManagerRole) || User.IsInRole(Constants.FrontDeskRole))
                    && (Model.OrderHeaderViewModel.OrderHeader.Status == Constants.StatusReady ||
                    Model.OrderHeaderViewModel.OrderHeader.Status == Constants.StatusSubmitted ||
                    Model.OrderHeaderViewModel.OrderHeader.Status == Constants.StatusInProcess))
                    {
                        <div class="col-6">
                            <button type="submit" class="btn btn-warning form-control"
                                asp-page-handler="OrderCancel" asp-route-orderId="@Model.OrderHeaderViewModel.OrderHeader.Id">
                                <i class="bi bi-x-square"></i> Cancel Order
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-danger form-control"
                                asp-page-handler="OrderRefund" asp-route-orderId="@Model.OrderHeaderViewModel.OrderHeader.Id">
                                <i class="bi bi-currency-dollar"></i> Refund Order
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>


