@page
@model Customer.Home.IndexModel
@{
    ViewData["Title"] = "Details";
}

<div class="row container pb-3 backgroundWhite">
    @foreach (var category in Model.Categories)
    {
        <h2 class="text-success pl-1"><b>@category.Name</b></h2>

        <div class="col-12">
            <div class="row my-3">
                @foreach (var product in Model.Products.Where(c => c.CategoryId == category.Id))
                {
                    <div class="col-lg-4 col-md-6 pb-4 filter">
                        <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                            <div class="card-body pb-1 row">
                                <div class="col-8 h5">@product.Name</div>
                                <div class="col-4 text-end"><span class="text-info h4">@product.Price.ToString("c")</span></div>
                            </div>
                            <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@product.PublicId" alt="@product.Name">
                            <div class="card-body p-1 px-3 row">
                                <div class="col-6">
                                    <span class="badge p-2 border w-100 text-dark bg-warning ">@product.Category.Name</span>
                                </div>
                                <div class="col-6 border-0">
                                    <span class="badge p-2 border w-100 bg-info ">@product.FoodType.Name</span>
                                </div>
                                <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                                    <p> @Html.Raw(product.Description)</p>
                                </div>
                                <div class="col-12 p-1">
                                    <a class="btn btn-dark form-control btn-sm p-2" style="height:40px">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>